fastapi==0.127.1
mediapipe==0.10.31
numpy>=2.0,<2.3
opencv_contrib_python==4.12.0.88
opencv_python==4.12.0.88
pydantic==2.12.5
python-dotenv==1.2.1
python_bcrypt==0.3.2
Requests==2.32.5
SQLAlchemy==2.0.45
uvicorn==0.40.0
volcengine_python_sdk==4.0.43
aiomysql
pymysql
httpx
volcenginesdkarkruntime
python-multipart
cryptography